{% extends 'base.html' %} 
{% load static %} 
{% block title %}chatbot.html{% endblock %} 

{% block content %}
<iframe
    allow="microphone;"
    width="650"
    height="750"
    src="https://console.dialogflow.com/api-client/demo/embedded/c6474ec7-3278-45c0-bf12-a56713532e45">
</iframe>

{% endblock content %} 

{% block footer %}
<footer class="fixed-bottom bg-info">
    <div class="text-white font-italic text-right mr-5" style="background-color: #b9e6fa;">Copyright &copy; 2021 SEUNGHYUN KIM  </div>
</footer>
{% endblock %}

